.choresText {
   
   background-repeat: no-repeat;
   color: brown;
   font-family: cursive;
   font-size: larger;
   text-align: left;
   font-style: italic;
}

.choresHeading {
   color: darkred;
   font-family: cursive;
   font-size: larger;
   text-align: left;
   text-decoration: underline;
}

.background{

   background-image: url("https://media.tenor.com/ydXJPz01t-IAAAAC/laundry-housework.gif");
   background-repeat: no-repeat;
   height: 50vh;
}